
<div id="myCarousel" class="carousel slide black-border" data-ride="carousel">
  <!-- 메인 슬라이더 페이지 조정부분 -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>

  <!-- 슬라이더 사진 들어갈 부분 -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("container_1.png") %>
      <div class="carousel-caption">
        <h3>#1-Initiation</h3>
        <p>"내가 제일 좋아하는 새로운 순간의 시작이에요"</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag("container_2.png") %>
      <div class="carousel-caption">
        <h3>#2-Pending tray</h3>
        <p>"작은 순간들이 모여서 거대한 미래를 만들지"</p>
      </div>
    </div>

  </div>

  <!-- 컨트롤을 위한 js -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!-- 각 카테고리별 요약 항목, 대략적인 이미지 삽입예정 -->
<div class="abstract container">
      <div class="row">
        
        <div class="col-md-4 col-sm-4 col-xs-6">
          <h5>블랙의 미션
            <a href="mission"><span style="float:right; margin-right:10px margin-bottom:10px" class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
          </h5>
          <p><%= image_tag("container_1.png", class:"abstract-content black-border") %></p>
          <p>당신의 때깔이 환하게 빛나는 그날까지, MIB는 보이지 않는 곳에서 언제나 함께 하겠습니다.</p>
          
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <h5> Made In Backdoor
          <a href="service">
            <span style="float:right; margin-right:10px" class="glyphicon glyphicon-plus" aria-hidden="true">
            </span></a></h5>
          <p><%= image_tag("container_1.png", class:"abstract-content black-border") %></p>
          <p>먹인블랙인 이러이러한 서비스로 먹스트리트에 많은 푸드트럭이 오면 좋겠다 나라나라남남 테스트필드 </p>
          
       </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <h5>당신의 숨은 조력자
          <a href="contact">
            <span style="float:right; margin-right:10px" class="glyphicon glyphicon-plus" aria-hidden="true">
            </span></a></h5>
          <p><%= image_tag("container_1.png", class:"abstract-content black-border") %></p>
          
          <p>지금 바로 연락하세요!</p>
          
        </div>
      </div>
</div>