
<div class="container" style="padding:50px 90px 0px 90px">
    <div class="col-md-2 col-sm-1 col-xs-1" >
        <div class="side-title">
            서비스
        </div>
        
    </div>
    <div class="col-md-10 col-sm-11 col-xs-11" style="padding-left:30px;">
        
        <div class="main-title" style="padding-bottom:100px">
            <%= image_tag("service/service_main.png", :width => "70%") %>
        </div>
        
        <div>
            <p class="main-big">
                서비스 비젼
            </p>
            <p class="main-small">
                다양하고 청결한 음식을 가까운 곳에서 기다릴 필요 없이 원하는 만큼 먹고, 이를 통해 소소한 행복을 느낄 수 있도록 하는 것이 Meok In Bridege의 목표입니다.
            </p>
            <p class="main-big">
                서비스 미리보기
            </p>
            <div class="row main-small" style="padding:0px 0px 0px 0px">
                <div class="col-md-4 col-sm-4">
                    <%= image_tag("service/service_screen1.png", :width => "100%") %>
                </div>
                <div class="col-md-4 col-sm-4">
                    <%= image_tag("service/service_screen2.png", :width => "100%") %>
                </div>
                <div class="col-md-4 col-sm-4">
                    <%= image_tag("service/service_screen3.png", :width => "100%") %>
                </div>
            </div>
            
            <p class="main-big" style="margin-bottom:20px">
                서비스 가치
            </p>
            
            
            
            
            
            <table width="780" border="0" cellpadding="0" cellpadding="0">
                <tbody>
                        <tr>
                            <td width="220" class="value-name">
                              <%= image_tag("service/service_value1.png", class:"main-pic-service", :width => "100%") %>
                              
                            </td>
                            <td width="20"></td> 
                            <td width="220"class="value-name">
                              <%= image_tag("service/service_value2.png", class:"main-pic-service",:width => "100%") %>
                              
                            </td>
                            <td width="20"></td>
                            <td width="220"class="value-name">
                              <%= image_tag("service/service_value3.png", class:"main-pic-service", :width => "100%") %>
                              
                            </td>
                            <td width="20"></td>
                            <td width="220" class="value-name">
                              <%= image_tag("service/service_value4.png", class:"main-pic-service", :width => "100%") %>
                               
                            </td>
                            <td width="20"></td>
                            <td width="220" class="value-name">
                              <%= image_tag("service/service_value5.png", class:"main-pic-service", :width => "100%") %>
                              
                            </td>
                        </tr>
                        <tr colspan="6" height="10"></tr>
                        <tr>
                            <td width="220" valign="top" class="main-small">
                                매일 반복되는 식단과 편의점 푸드에 질리셨나요? 저희 서비스를 통해 다양한 음식을 만나보세요.</br></br>
                            </td>
                            <td width="20"></td>
                            <td width="220" valign="top" class="main-small">
                                다른음식 좀 먹어보겠다고 멀리 나가는거 귀찮으셨죠?언제 어떤 푸드트럭이 오는지 저희가 전부 알려 드립니다. </br></br>
                            </td>
                            <td width="20"></td>
                            <td width="220" valign="top" class="main-small">
                                공부하랴 연애하랴, 청춘에겐 황금과도 같은 이 시간! 거 음식 하나 좀 먹겠다고 줄 서는데 시간 허비하지 맙시다.</br>
                            </td>
                            <td width="20"></td>
                            <td width="220" valign="top" class="main-small">
                                아유~ 여러분 걱정이 뭔지 알아요 알아.걱정하덜덜 마세요! 저희는 검증된 식품만을 취급합니다.</br>
                            </td>
                            <td width="20"></td>
                            <td width="220" valign="top" class="main-small">
                                여러분이 평가하고 여러분이 추천하는 자체선택 시스템! 음식에 대한 선택권 저희가 보장해드립니다. </br>
                            </td>
                        </tr>
                </tbody>
            </table>
            <p class="main-big">
                서비스 개요
            </p>
            <p class="main-small">
                저희 서비스 <b>"고푸"</b>는 언제, 어떤 푸드트럭이 학교에 오는지 미리 여러분께 알려드리는 <b>"알림서비스"</b>는 물론, 푸드트럭에 대한 여러분들의 <b>"평가 및 추천"</b>을 통해 
                원하는 음식에 대한 선택권을 제공해드리겠습니다. 뿐만 아니라, 시간이 부족한 학생들을 위해 앱결제를 기반으로 한 <b>"선주문시스템"</b>을 통해
                여러분들의 시간을 절약해드립니다.
            </p>
        </div>
        
            
        </div>
        
    </div>
</div>