
<div class="container" style="padding:50px 90px 0px 90px">
    <div class="col-md-2 col-sm-1 col-xs-1" >
        <div class="side-title">
            블랙멤버
        </div>
        
    </div>
    <div class="col-md-10 col-sm-11 col-xs-11" style="padding-left:30px;">
        
        <div class="main-title">
            <p class="main-title-big">
                당신을 위한
            </p>
            <p class="main-title-small">
                최정예
            </p>
            <p class="main-title-big">
                블랙 멤버</br></br>
            </p>
        </div>
        
        
        
        <%= render 'home/team/chang' %>
        <%= render 'home/team/eun' %>
        <%= render 'home/team/hyun' %>
        <%= render 'home/team/young' %>
        <%= render 'home/team/seung' %>

        
        
            
        </div>
        
    </div>
</div>