<header class="navbar navbar-fixed-top ">
  <div class="container" style="padding-left:90px;padding-right:90px">
    
    <%= link_to image_tag("logo/logo.png", :heigh => 43, :width => 90 ), '/', id: "logo" %>
    
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "미션및비전",   'mission' %></li>
        <li><%= link_to "서비스",   'service' %></li>
        <li><%= link_to "블랙팀",   'team' %></li>
        <li><%= link_to "제휴문의", 'contact' %></li>
      </ul>
      <ul class="facebook nav navbar-nav navbar-right" >
        <li><%= link_to "facebook", '#' %></li>
      </ul>
    </nav>
    
    
  </div>

</header>